.leftbox{
    background-color:cornflowerblue;
    float: left;
width: 780px;
height: 250px;
 border: 5px; border-color: blue;border-style:dashed;
}
.rightbox{
    background-color: green;
    float: right;
    width: 780px;
    height: 250px;
    border: 5px;border-color: cadetblue;border-style: dashed;
}
#id{
    color: coral
}
#id1{
    color: coral
}