.header{
    background-color: yellow;
    
    width: 100%;
    height: 100px;  
    
}
.row1{
    background-color: cyan;
    
    width:30%;
    height: 250px;
    float: left;
    display:block;
    
}
.row2{
    background-color: navajowhite;
    
    width: 30%;
    margin-top: 0px;
    height: 150px;
    display:block;
    float: left;
}
.row11{
    background-color:orange;
    
    width: 70%;
    height: 300px;
    float: right;
    display:inline-block;
}
.row22{
    background-color: red;
    
    width: 70%;
    height: 100px;
    float: right;
    display:inline-block;
}